{% extends "base.html.twig" %}

{% block title %} Activation du compte{% endblock %}

{% block body %}

<div class="row user-connect">	

			
	<div class="col-8 connect bg-light py-3 px-3">
					
			<h2 class="text-center font-italic">Activer votre compte!</h2>
			
						  
		<div class="form-group mx-2">
				<button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>Activé</button>

		</div>
		
  </div>
</div>					


{% endblock %}
