 
 
 {% if items == 0 %}

  
       <a  href="{{path('app_homepage')}}">

    <i class="fa fa-shopping-basket"></i> vide</a>

  {% elseif  items != 1 %}
 
          <a  href="{{ path('panier')}}"> <i class="fas fa-shopping-basket"></i> {{ items }} articles </a> 
       
        {% else %} 
  
         <a  href="{{ path('panier')}}"> <i class="fas fa-shopping-basket"></i> 1 article </a>
        
      {% endif %}
      
  


