{% extends "base.html.twig" %}

		{% block title %}
			Mot de passe oublié
		{% endblock %}

		{% block body %}
			
     
				<div class="row user-connect">
				
					<div class="col-8 connect bg-light py-3 px-3">
                   
                    <div class="bg-light p-4">
                         <h4 class="text-center font-italic mb-3">Mot de passe oublié !</h4>
                        <form method="POST">
												 <input type="email" placeholder="Votre email" name="email" class="form-control mb-3" />
												
												<div> 
												<button type="submit" class="btn btn-success"><i class="fas fa-mail-bulk"></i> Envoyer !</button>
												</div>
												</form>

												
											 
					          </div>
          </div>
				</div>
			
		{% endblock %}
