{% extends "base.html.twig" %}

		{% block title%}
			Réinitialiser mot de passe
		{% endblock %}
     	{% block stylesheets %}
		 {{ parent() }}
      {{ encore_entry_link_tags('user')}}
		  
		{% endblock %}
		{% block body %}
		

				<div class="row user-connect">

					<div class="col-8 connect bg-light py-3 px-3">
						
            <form method="post">
							<h1 class="content">
								Réinitialiser mot de passe
							</h1>
							  <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Saissez votre nouveau mot de passe">
                <input class="form-control mb-3" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirmez votre mot de passe">
								<button type="submit" class="btn btn-success"><i class="fas fa-save"></i>Modifier</button>
            </form>              
						</div>
				
				</div>

		
		{% endblock %}
