{% extends 'admin_base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
 <div class="container">
    <h1>Edit Formation</h1>

    {{ include('admin/formation/_form.html.twig') }}

    </div>
{% endblock %}
