a {
  text-decoration: none;
  color: inherit;
}

.site-content {
  padding-top: 66px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
}


/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: #8f725c;
  box-shadow: 2px 2px 11px 3px #8f725ce8;
  z-index: 1000;


  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
    color: #960b06;
  }
}

.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;


}

.img_logo {
  float: left;
  top: 20px;
  position: relative;
}

/*   Menu      */

.menu-left {
  line-height: 35px;

  .nav-hub {
    display: none;
    color: inherit;
    background-color: #8f725c;
    z-index: 10000;
    box-shadow: 4px 3px 8px 0px rgba(62, 47, 35, 0.71);
    position: absolute;


    a {
      display: inherit;
      margin: 10px;
      padding: 0px 12px;
      line-height: 22px;

    }
  }

  .nav-boutique {

    display: none;
    color: inherit;
    background-color: #8f725c;
    z-index: 10000;
    box-shadow: 4px 3px 8px 0px rgba(62, 47, 35, 0.71);
    position: absolute;
    margin-left: -335px;
  }

  .nav-produits {

    margin: 5px 18px;
    border: 0.8px solid #e2b3892e;
    margin-left: -10px;

    a {
      color: #fff;
      display: block;
      font-style: italic;
      text-align: justify;

    }


  }



  li {
    float: left;
    list-style-type: none;
  }

  a {
    padding: 0 10px;
  }

  a:hover {
    color: #960b06;
    text-decoration: none;
  }



}


.menu-left li.tap div {
  display: block;
  animation: slideIn 0.3s;

  a {
    opacity: 1;
    animation: slideIn 0.3s;
  }
}

.menu-left li.tap ul {
  display: block;
  animation: slideIn 0.3s;
  height: auto;


  div,
  ul,
  a {
    opacity: 1;
    animation: slideIn 0.3s;
  }

}



/* MENU RIGHT */
.menu-right {
  float: right;
  line-height: 40px;
  text-align: center;
  padding-right: 15px;

  li {
    list-style-type: none;
    float: left;
  }

  .sub-menu-img {
    position: fixed;
  }

  .sub-user-right {
    display: none;
    color: inherit;
    background-color: #8f725c;
    z-index: 10000;
    box-shadow: 4px 3px 8px 0px rgba(62, 47, 35, 0.71);
    position: absolute;
    margin-left: -25px;



  }

  a {
    display: inherit;
    margin: 0px 15px 0px 15px;

  }

  a:hover {
    color: #960b06;
    text-decoration: none;
  }

}

.menu-right li.tap div {
  height: 125px;
  display: block;
  animation: slideIn 0.3s;

  a {
    opacity: 1;
    animation: slideIn 0.3s;
  }


}

@keyframes slideIn {
  from {
    height: 0%;
    border-bottom: none;
    opacity: 0;
  }

  45% {
    height: 20%;
    opacity: 0.2
  }

  65% {
    height: 45%;
    opacity: 0.4;
  }
  85% {
     height: 75%;
     opacity: 0.7
  }

  to {
    height: auto;
    opacity: 1;
  }

}
.dropdown:hover .nav-panier-content{
    display:block;
    transition: slideIn 0.3s;

}

.nav-panier-content {
  display: none; 
  position: absolute;
  right: 0;
  background-color: #8f725c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom: 1px solid #888; 
 
}

.nav-panier-content span {
  text-decoration: none;
  display: block;
  min-width: 200px;
  font-size: 12px;
}
.sub-panier {
 
  border-bottom: 1px solid #888;
}
.panier-float-left {
  float: left;
 
  padding: 15px 15px 0px;
  position: relative;
}
.panier-float-right {
  text-align: center ;
   top: 0px ;
   margin: 10px;
   line-height: 15px;
}

.footer-sub-panier{
  position:relative;
  bottom: 0;
  font-size: 18px;
  font-weight: bold;
}



