@import 'compass';
@import '_vars';



@media only screen and (max-width: 1138px) {

  body {
    overflow-y: scroll;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
  }

  .site-pusher,
  .site-container {
    height: 100%;
    margin-bottom: 40px;
    width: 100%; 
     position:relative;
  }


  .site-pusher {
    @include transition-duration(0.3s);
    @include transform(translateX(0));
  }

  .site-content {
  
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    width: 100%;
    padding-bottom: 15%;

  }

  .header {
    position: static;
    z-index: 10000
  }

  .header__icon {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    color: #888;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      @include box-shadow(0 10px 0 1px #383636, 0 16px 0 1px #383636, 0 22px 0 1px #383636)
    }
  }



  .menu {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: $menu-width;
    background-color: #e2e1e0;
    height: 100%;
    @include transform(translateX($menu-width * -1));
    @include transition-duration(0.3s);
    z-index: 99;

    .menu-left {
      display: inline;

      text-align: center;

      .menu-left .nav-hub {
        text-align: center;
        line-height: 5px;
      }

      li {

        line-height: 40px;
        float: none;
        display: block;
        border-bottom: 1px solid #543521;

      }

      a {
        padding: 0;
      }

    }
   
   
    .menu-right {

      margin: 0;
      text-align: center;
      float: left;
      width: 260px;

      .sub-user-right {
        background-color: #543521;
        width: 250px;
        box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
        left: 24px;


      }
      .nav-panier-content{
        left: 0;
        background-color: #543521;
      }

      li {
        width: 250px;
        margin-left: -40px;
        line-height: 40px;
        border-bottom: 1px solid #543521;
        position: relative;

      }

      a {
        width: 250px;
        border-bottom: 1px solid #8f725c;
        margin: 0;
      }

      a:last-child {
        border-bottom: none;
      }

    }

    .nav-boutique {
      margin-left: 0;
      color: inherit;
      background-color: #c5c4c2;
      width: 250px;
      z-index: 0;
      text-align: center;
      position: relative;
      padding: 2px;
     /*   box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);*/

      li {
        border-bottom: 1px solid #8f725c;
      }

      li:last-child {
        border-bottom: none;
      }

    }

    .nav-produits {

      color: inherit;
      background-color: #e2e1e0;
      width: 256px;
      z-index: 0;
      position: relative;
      padding: 2px;
      box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);

    }

    .nav-hub {
      color: inherit;
      background-color: #c5c4c2;
      width: 250px;
      z-index: 0;
      text-align: center;
      position: relative;
      padding: 2px;
      box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);




      a {
        color: #8f725c;
        text-decoration: none;
        text-align: center;
        font-style: italic;
        border-bottom: 1px solid #888;
        width: 250px;
        margin: 0;
        padding: 8px 2px;

      }

      a:last-child {
        border-bottom: none;
      }

    }

    .nav-boutique li.has-sub div,
    .nav-hub li.has-sub div,
    .nav-produits li.has-sub div {
      display: none;
      color: inherit;
      background-color: #e2e1e0;

      z-index: 1000;

    }

    .nav-hub li.tap div,
    .nav-hub li.tap ul {
      display: block;


      a {
        border-bottom: 1px solid #543521;
        text-align: center;
      }
    }

    .nav-boutique li.tap div,

    .nav-produits li.tap div {

      display: block;
      height: auto;


      a {
        border-bottom: 1px solid #543521;
        text-align: center;
      }

      a:last-child {
        border-bottom: none;
      }

    }

  }

  .table{
        margin-left: -65px;
        width: 200px; 
        display: inline;
  }
 .table-thead td {
    padding: 10px 0px 10px 0px !important;
  }
  .table th {
    width:10%;
   
  }
  .table-fluid{
    margin-left: -25px;
  }
  .livraison {
    min-width:400px;
  }
 #footerMenu {
   position: fixed;
    background:#8f725c;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px -10px 50px -10px rgba(10, 133, 155, 0.8),
        0px -10px 50px -10px rgba(80, 216, 216, 0.5);
    text-align: center;
    overflow: none;
   z-index: 300;
}
#footerMenu.show {
   height: auto !important ;
  -moz-transition: all 3s ease-in-out ;
  -o-transition: all 3s ease-in-out;
  transition:  height  3s ease-in-out;
  -webkit-transition: height 3s ease-in-out;
}



  .with--sidebar {
    .site-pusher {
      @include transform(translateX($menu-width));
    }

    .site-cache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);

    }


  }

  .table-fluid{
    margin-left:auto;
    margin-right: auto;
  }

  .table-font-size tr,
  .table-tbody td,
    {
    font-size: 14px;
  }



  .modal {
    height: 100%;
  }
}

@media only screen and (max-width: 360px) {
.modal-content-body {
    padding: 0%;
    margin-top:20% !important;
    width: 250px !important;
    height:auto;
}

.modal {
  height: 100%;
}
 .table-fluid{
    width: 300px !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    
  }

  .table-font-size tr,
  .table-tbody td,
    {
    font-size: 14px;
  }

  .table{
        display: inline;
  }
 .table-thead td {
    padding: 10px 0px 10px 0px !important;
    font-size: 100%;
  }
  .table-thead th {
    width:8% !important;
    font-size:12px;
  }

  .table-tbody td {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 900px) {
.modal-content-body {
    padding: 0%;
    margin-top:20% !important;
    width: 350px !important;
    height:auto;
}

.modal {
  height: 100%;
}

}

@media only screen and (max-width:1100px){
select#select-taille{
  margin-bottom: 40px;
}
.btn-panier  {
  
    position: relative;
    margin-left: -3px !important;

}

article:last-child  {
  
   margin-bottom: 100%;
}
.img-body {
 float:none !important;
 position:relative;
 width:100% !important;
}

}

.contact-me {
 width: 100% !important;
 margin-left: auto;
 margin-right:auto;
 position: relative;
 left: -15px;
}
