/* SEARCH FORM */

.searchbox {
    position: relative;
    min-width: 50px;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input {
    top: 2px;
    right: 0;
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    margin: 0;
    padding: 0px 55px 0px 20px;
    font-size: 12px;
   text-transform: capitalize;
    color: #fff;
}

 .searchbox-input::-webkit-input-placeholder {
    color: #888;
}

.searchbox-input:-moz-placeholder {
   color: #888;
}

.searchbox-input::-moz-placeholder {
     color: #888;
}

.searchbox-input:-ms-input-placeholder {
      color: #888;
}
 
.searchbox-icon,
.searchbox-submit {
   position: absolute;
    top: 0;
    font-size: 16px;
    right: 10px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    /* line-height: 50px; */
    text-align: center;
    cursor: pointer;
    color: #dcddd8;
    background: none;
    /* padding: 9px; */
}


.searchbox-icon {
    /*   background-image: url("/build/img/search-white.png");*/
     width:15px;
     height: 15px;
    top: 13px;
    display: block;
}

.btn-search[type="submit"] {
    color: #ffffff;
}

button[type="submit"].btn-search {
    border: none;
    background: none;
    font-size: 22px;
}

.fa-search:before {
  color: #888;
    top: 0;
}

.searchbox-open {
    width: 250px;
}

 .searchbox-open .searchbox-input, .searchbox-open .searchbox-icon{
    background-color: #c4f2f2;
    border-radius: 16px;
    color: #888;
}

@media only screen and (max-width: 1138px) 
{
    .searchbox-input {
      margin-top: 15px;
      width:250px;
    }

   .searchbox .searchbox-open {
       display:block!important;
   }
    .searchbox-icon {
    margin-top: 15px;
    }
    .searchbox {
        display:block;
    }
}
