/* SEARCH FORM */
.dropdown-menu-search{
    left: 0;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 1rem 0;
    font-size: 1rem;
   background-color: #e2e1e0;
    z-index: 10000;
    box-shadow: 4px 3px 8px 0px rgba(102, 100, 99, 0.71);

    text-align: left;
    list-style: none;
    border-radius: .25rem;
}

.form-search {
    padding:10px;
    width:100%;
}
input[type="search"]{
      border: none;
    outline-style: auto;
    outline-offset: 0.5pt;
    outline-color: #8f725c;
    margin-bottom: 10px;

}

.searchbox-icon,
.searchbox-submit {
  
    top: 0;
    font-size: 16px;
    right: 10px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    /* line-height: 50px; */
    text-align: center;
    cursor: pointer;
    color: #8f725c;
    background: none;
    /* padding: 9px; */
}


.searchbox-icon {

    top: 13px;
}

.btn-search[type="submit"] {
    color: #ffffff;
}

button[type="submit"].btn-search {
    border: none;
    background: none;
    font-size: 22px;
}

.fa-search:before {
  color: #888;
    top: 0;
}

.searchbox-open {
    width: 250px;
}


@media only screen and (max-width: 1138px) 
{
    .searchbox-input {
      margin-top: 15px;
      width:250px;
    }

   .searchbox .searchbox-open {
       display:block!important;
   }
    .searchbox-icon {
    margin-top: 15px;
    }
    .searchbox {
        display:block;
    }
}

@media only screen and (max-width: 900px) {

.dropdown-menu-search {
    left: 10px;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: #e2e1e0;
    z-index: 10000;
    box-shadow: none;
    text-align: left;
    list-style: none;
    border-radius: .25rem;
    /* height: 80px !important; */
    top: 0px;
}

input[type="search"] {
    border: none;
    outline-style: auto;
    outline-offset: 0.5pt;
    outline-color: #8f725c;
    margin-bottom: 10px;
    margin-top: -20px;
    vertical-align: middle;
}
input.search{
     margin-left: 10%;
}
input.btn.btn-success{
    margin-left: 25%;
    margin-right: 15%;
}
}
