{% extends "base.html.twig" %}

{% block title %} {% if page %} {{page.title}} {% endif %} {% endblock %}

{% block body %}
 <div class="row">
 {% if page.filename is defined %}
     <img class="jumbotron img-fluid"  src="{{ vich_uploader_asset(page, 'imageFile')}}" >
 {% endif %}    
 {% if page %}  
     
      <div class="col-sm-12 col-md-12 col-lg-12">
           <h1 class="mt-3">{{page.title }}</h1>
      </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
         <article class="paragraph mb-5">{{ page.description|raw }}</article>
   
   </div>
   {% endif %}
   </div>
{% endblock %}


