
          <h3>	Ils ont donné leur avis	</h3> 
            {% for comment in  formation.comments %}   
      <div class="carbonads p-2  m-3 w-100">
                   {% if comment.approved == true  %}
                            <div class="carbonads-header mb-2"> <p> Le {{comment.createdAt|format_date('full')}} par  {{comment.authorName}}</p> </div>
                            <div class="carbonads-body">{{comment.content}}</div>
			   {% endif %}   
       </div>
{% endfor %}	  


          
  
               
                
              
              
          



    
