
    
				<h3 class="comment">		Ils ont donné leur avis .... </h3>
            {% for comment in seance.comments %}
             {% if comment.approved == true  %}
              <div class="carbonads bg-light p-5  m-3">
                  <div class="carbonads-header mb-2">
                    <p> Le {{comment.createdAt|format_date('full')}} par  {{comment.authorName}}</p>
                  </div>
                 <div class="carbonads-body">{{comment.content}}</div>
						
               </div>			 
               {% endif %}
 
		{% endfor %}	
  

