{% extends 'admin_base.html.twig' %}
{% block title %}Edit Boutique{% endblock %}
{% block body %}
<div class="container">
<div class="row p-3">
  <h1>Edit Boutique</h1>
 </div>

    {{ include('admin/boutique/_form_edit.html.twig') }}
  
 
   </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
  {{ encore_entry_script_tags('optSelect' )}}

{% endblock %}
