{% extends 'admin_base.html.twig' %}
{% block title %}New Boutique{% endblock %}
{% block body %}
<div class="container">
 <div class="row">
 <h1 class="mx-3"> Nouvelle Boutique</h1>
</div>
{{ include('admin/boutique/_form_edit.html.twig') }}


</div>
{% endblock %}



