#calendar-holder{
  font-family: "Muli", sans-serif;
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.modal {
   background-color: rgba(24, 8, 8, 0.657); 
   width:100%;
}
.modal-form {
 position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-content {
 min-width: 600px;

 
}
/* .modal-form .modal-content-calendar {
  width:680px;
  background-color: #fff;
  vertical-align: auto;
  border-radius: 16px ;
} */
  h5#modal-title {
   font-size: 1.8rem !important;
   margin: 1rem 1rem 0rem;
}
.modal-header .close {
    padding: 0.8rem 0.8rem ;
    margin: 0.5rem 1rem 1.2rem auto;
    font-size: 28px;
    color:rgb(156, 11, 11);
} 

.fc-unthemed td.fc-today {
    background: #d4d3cc;
}
 .fc-day:hover{
    background: rgb(138, 184, 221);
    transition: 0.3s ease;
}
