{% extends "base.html.twig" %}

{% block body %}
				<div class="row content  mt-4">
					<h1 class="">{{ produit.title|upper }} </h1></br>
			  </div>
			 
					<div class="row">
							{% for bijou in listeBijoux %}
								{% include 'produits/_card.html.twig' with {bijou: bijou} only %}

							{% endfor %}
					</div>
        
{% endblock %}
      

