{% extends 'admin_base.html.twig' %}

{% block title %}Choisir un  rendez-vous{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un évènement</h1>
   
    {{ include('admin/booking/_form.html.twig') }}

    <a href="{{ path('admin_booking_index') }}">back to list</a>
    
    </div>
{% endblock %}

{% block javacript %}
{{ parent() }}
	
			{{ encore_entry_script_tags('optSelect' )}}
			
		
        
		{% endblock %}
