@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~cropper/dist/cropper.min.css";
@import "../../public/bundles/image/css/cropper.css";
@import "~slim-select/dist/slimselect.css";
@import "typeahead.css";
@import "bootstrap-tagsinput.css";
@import "../css/font.css";
@import "../css/admin-responsive.css";
@import "../css/bootstrap-datetimepicker.min.css";

.datetimepicker-days  .table-condensed thead, tbody{
    color: rgb(11, 57, 88);
}

#content {
    width: auto;
}

.wrapper {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


.des span {
    font-size: 18px !important;
}

a.nav-link {
    color: #f8f9fc;
    font-size: 18px;
    text-align: justify;
}



#logo-holder .img-icon {
    position: relative;
    width: 150px;
    height: 150px;
    /*dimensions of image*/
}

#logo-holder .img-icon,
#logo-holder .text {
    transition: opacity 0.5s ease-in-out;
}

#logo-holder .text {
    position: absolute;
    opacity: 0;
    margin-top: -95px;
    margin-left: 15px;
    vertical-align: middle;
    background-color: #d4d1ce;
    color: rgb(54, 52, 52);
    font-size: 16px;
    padding: 10px;
    box-shadow: 5px 4px 16px 0px rgba(130, 130, 130, 0.6);
}

#logo-holder:hover .img-icon {
    opacity: 0;
}

#logo-holder:hover .text {
    opacity: 1;
}

.bg-gray {
    background-color: #777;
    opacity: 0.8;
}

.text-color {
    color: #000;
}


.bg-gray:hover {

    background-color: #888;
}


a.text-color:hover,
.fas:hover {
    opacity: 0.6;
    color: #000;
}

.fas .fa-chevron-down {
    width: 25px;
}

.topbar {
    height: 4.375rem;
}

.wrapper {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


#wrapper {
    display: flex;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}

.sidebar {
    min-height: 100vh;
    background-color: rgb(137, 53, 206);
    top: 0;
}
/* TABLE */
.table-fluid-commande {
       width: 100%;
       text-align:center;
        border: 1px solid #8935ce;
        left:0;
}
.table-fluid-commande thead {
    width:100%;
      background-color: #8935ce;
      width:auto;
}
.table-fluid {
     background-color: #fff;
     margin-bottom: 50px;
     text-align:center;
     border: 1px solid #8935ce;
     width:100%;
}
.mmx-2 {
    margin-left: -20px;
}
thead {
    color:#fff;
    text-align:center;
    width: auto;

}
.bg-fushia {
    background-color: #8935ce;
}
.table-fluid thead {
    background-color: #8935ce;
    padding:15px;
    width:auto;
}
.table-fluid tbody {
    color: #888;
    text-align:center;
}
td {
    padding: 1%;
    font-size:14px;
}


/* CUSTOM CHECKBOX */
/* .form-check-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

input[type=checkbox] {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #086d18;
    background-color: #4b8b10;
}


.custom-switch .custom-control-label::after {

    border-color: #ff000f;
    background-color: #fff;

}

.custom-control-label::before {
    background-color: #ff000f;
}

.custom-switch .custom-control-label::before {
    left: -3rem;
    width: 2.2rem;
    pointer-events: all;
    border-radius: .8rem;
    height: 1.25rem;
}

.custom-switch .custom-control-label::after {
    top: calc(.2rem + 2px);
    width: calc(1.3rem - 4px);
    height: calc(1.3rem - 4px);
    left: calc(-3rem + 3px)
} */


.bg-card {
    background-color: #efecf0;
}

.card-fluid {
        border: 1px solid rgba(78, 23, 101, 0.6);
        width:100%;
        margin: 10px;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.accordion {
    margin-top: 30px;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.vertical-nav .nav-item {
    list-style-type: none;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

/* .modal {
    background: rgba(34, 34, 34, 0.8);
    width: 100%;
    padding: 50px;
}
*/
.modal .modal-container
{
   display: none;
}
.modal .modal-container .show {
display: flex ;
  justify-content: center;
  align-items: center;
  width: 100%; 
  z-index: 1000;
  opacity: 0.8;
}
.modal-backdrop {
  display:none;
   
}
.modal-container {
        background: #000000c2;
}
.contact-me {
   box-shadow: 4px 4px 10px 0px rgba(99, 86, 78, 0.6);  
   border-radius: 16px;
   background-color: #fff;
   padding:10px;
   height:  auto;
    width: 600px;
    z-index: 10000;
    margin: 125px auto;
}
.contact-me  h2 {
    color: #212529;
    font-size: 1.6rem;
}


.contact-message {
   box-shadow: 4px 4px 10px 0px rgba(99, 86, 78, 0.6);  
   border-radius: 16px;
   background-color: #fff;
   padding:10px;
   height:  auto;
    width: 600px;
}
.span-contact a {
    text-decoration: none;
}
.span-contact{
      border-radius: 50%!important;
    background: #820b8d;
    width:80px;
    height:80px;
    padding: 20%;
    color: #fff;
    line-height: 30px;
}

.fieldset {
    background-color: #1a078b;
    color: #fff;
}
.fieldset a {
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    color: #fff;
}
.fieldset a:hover {
    color: #820b8d;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip.show {
  opacity: 0.9;
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
  bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #03441c;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #03441c;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
  top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #03441c;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #03441c;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #03441c;
  border-radius: 0.25rem;
}

.content-message {
 display: flex ;
  justify-content: center;
  align-items: center;
}

/*NAVIGATION  */

 .page-link {
    border: 1px solid  #8935ce;
    color: #8935ce;
}
.page-item.active .page-link{
    background-color: #820b8d !important;
    border-color: #820b8d;
}
.page-item.disabled .page-link{
     border-color: #820b8d;
     color: #8935ce;
}

.page-link:hover {
    color: #fff;
    border-color:  rgba(179, 93, 250, 0.746);
    background-color: #820b8d;
}
.page-link:focus {
     box-shadow: 0 0 0 0.2rem rgba(179, 93, 250, 0.746);
}

.btn-info, .btn-success, .btn-danger, .btn-primary .btn-warning {
    height: 38px;
}

.view_details {
    text-decoration: none;

    border: 4px solid rgb(70, 160, 163);
    color: rgb(70, 160, 163);
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px;
    width: 172px;
    opacity: 0;
    transition: all 0.3s ease-out;
    background: #fff;
}

.view_details:hover {

    color: rgb(70, 160, 163);
    cursor: pointer;
    text-decoration: none;

}

 .view_details {
     position: relative;
    opacity: 1;
    width: 160px;
    font-size: 15px;
    margin-left: 20%;
    transition: all 0.3s ease-out;
    top: -28px;
}


.card-text {
    padding: 2px 0 0;

}

.card-text strong {
    font-weight: 700;
    color: #393c45;
    font-size: 14px;
    position: relative;
}

.card-text span {
    color: #969699;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.sub-title {
    font-weight: 900;
}
.button__add {
     width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  background-color: #347bff ;
  display:block;
  border-radius: 50%;
  position: absolute; 
  left: 30px;
  text-decoration: none;
  transition: transform 0.3s;
  box-shadow: 0 6px 10px 0 #0000001a, 0 1px 18px 0 #0000001a, 0 3px 5px -1px #0003;
}

.button__add:hover {
  text-decoration: none;
  color: #fff;
     transform: scale(1.2) ;
}
.badge-bijou, .badge-commandes{
    border-radius: 50%;
    background-color: #347bff;
    padding: 14px;
    color: #fff;
}
.badge-bijoux-dispo {
    border-radius: 50%;
    background-color: #347bff;
    padding: 14px;
    color: #fff;
}
.badge-bijoux-indispo {
      border-radius: 50%;
    background-color: #8d0940;
    padding: 14px;
    color: #fff;
}
