@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~cropper/dist/cropper.min.css";
@import "../../public/bundles/image/css/cropper.css";
@import "~slim-select/dist/slimselect.css";
@import "typeahead.css";
@import "bootstrap-tagsinput.css";
@import "../css/font.css";


#content {
    width: auto;
}

.wrapper {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


.des span {
    font-size: 18px !important;
}

a.nav-link {
    color: #f8f9fc;
    font-size: 18px;
    text-align: justify;
}



#logo-holder .img-icon {
    position: relative;
    width: 150px;
    height: 150px;
    /*dimensions of image*/
}

#logo-holder .img-icon,
#logo-holder .text {
    transition: opacity 0.5s ease-in-out;
}

#logo-holder .text {
    position: absolute;
    opacity: 0;
    margin-top: -95px;
    margin-left: 15px;
    vertical-align: middle;
    background-color: #d4d1ce;
    color: rgb(54, 52, 52);
    font-size: 16px;
    padding: 10px;
    box-shadow: 5px 4px 16px 0px rgba(130, 130, 130, 0.6);
}

#logo-holder:hover .img-icon {
    opacity: 0;
}

#logo-holder:hover .text {
    opacity: 1;
}

.bg-gray {
    background-color: #777;
    opacity: 0.8;
}

.text-color {
    color: #000;
}


.bg-gray:hover {

    background-color: #888;
}


a.text-color:hover,
.fas:hover {
    opacity: 0.6;
    color: #000;
}

.fas .fa-chevron-down {
    width: 25px;
}

.topbar {
    height: 4.375rem;
}

.wrapper {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}


#wrapper {
    display: flex;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}

.sidebar {
    min-height: 100vh;
    background-color: rgb(137, 53, 206);
    top: 0;
}

@media (min-width: 768px) {

    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem;
    }
}

/* CUSTOM CHECKBOX */
/* .form-check-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

input[type=checkbox] {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #086d18;
    background-color: #4b8b10;
}


.custom-switch .custom-control-label::after {

    border-color: #ff000f;
    background-color: #fff;

}

.custom-control-label::before {
    background-color: #ff000f;
}

.custom-switch .custom-control-label::before {
    left: -3rem;
    width: 2.2rem;
    pointer-events: all;
    border-radius: .8rem;
    height: 1.25rem;
}

.custom-switch .custom-control-label::after {
    top: calc(.2rem + 2px);
    width: calc(1.3rem - 4px);
    height: calc(1.3rem - 4px);
    left: calc(-3rem + 3px)
} */


.bg-card {
    background-color: rgba(187, 187, 187, 1.2);
}



/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.accordion {
    margin-top: 30px;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.vertical-nav .nav-item {
    list-style-type: none;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}
