/* CARD_UI */
.card {
    overflow: hidden;
    transform-style: preserve-3d;
    transition: 0.3s ease-out;
    height: 290px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 8px 0px #6e9ba2c7;
}

.card.animate img {
    opacity: 1;
    background-color: #000;
    transition: opacity 0.3s;
    position: relative;
}

.card.animate:hover img {
    margin-top: 8px;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(1.2);
    transform: margin-top 0.6s;
}

.card-body {
    background: #fff;
    position: absolute;
    left: 0;
    top: 260px;
    width: 100%;
    padding: 5px;
    height: 200px;
}

.card.animate .card-body {
    margin-top: -70px;
    height: 350px;
    transition: all 0.3s ease-out;
}

.card-body .card-title {
    color: #393c45;
    position: relative;
    font-size: 16px;
}

.card-body p {
    font-size: 16px;
    color: #b1b1b3;
    position: absolute;
    margin-top: 45px;
}

.options-prix {
    float: right;
    font-weight: bold;
}

.sub-title {

    font-weight: bold;
}

#options-taille {
    margin-top: 10px;
    position: relative;
}


.rounded-taille {

    font-size: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    padding-top: 11px;
    text-align: center;
}

span.rounded-taille {
    margin-left: 5px;
    float: left;
    background-color: rgb(70, 160, 163);
    color: #fff;
    font-weight: bold;
}

.product-promo {
    background-color: rgb(70, 160, 163);
    width: 90px;
    height: 90px;
    padding-top: 20px;
    position: absolute;
    top: 12px;
    right: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 16px;
}

.view_details {
    position: absolute;
    text-decoration: none;
    top: 52px;
    left: 50%;
    margin-left: -85px;
    border: 4px solid rgb(70, 160, 163);
    color: rgb(70, 160, 163);
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    transition: all 0.3s ease-out;
    background: #fff;
}

.view_details:hover {

    color: rgb(70, 160, 163);
    cursor: pointer;
    text-decoration: none;

}

.card.animate .view_details {
    opacity: 1;
    width: 152px;
    font-size: 15px;
    margin-left: -75px;
    top: 55px;
    transition: all 0.3s ease-out;
}


.card-text {
    padding: 2px 0 0;

}

.card-text strong {
    font-weight: 700;
    color: #393c45;
    font-size: 14px;
    position: relative;
}

.card-text span {
    color: #969699;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.card.animate .image_overlay {
    opacity: 0.7;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

/** CARD FORMATION */
.card-services{
     border-bottom:   4px solid #075f92c5;
     height: auto;
}
.card-services-header  {
     padding: 1rem;
      background: url('/build/img/vague-2.svg');
       background-position:  40%  8%  ; 
      height: 110px;
}
.card-services-header h5 {
        color: #fff; 
        font-size: 18px;
        
}
.card-services-body{
  padding: 0.8rem;
  font-size: 18px;
}
  .card-text {
     padding: 15px;
 }
 .card-text .heure, .prix {
        margin-bottom: 12px; 
         height: 38px;
   
 }
 .card-text .heure, .prix, .dispo, .inscrits{
     font-weight: 900;
     line-height: 1.9em;
    
 }

.card-services-footer{
      padding: 1rem;
      height: 80px;

}

.badge-dispo {
    font-size: 22px;
    font-weight: 900;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 6px 0px 20px 12px;
    line-height: 25px;                                                                            
    background-color: rgb(45, 211, 51);
    box-shadow: 4px 2px 6px 0px #0f560985;
    
}

.badge-warning {
     font-size: 22px;
    font-weight: 900;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    /* position: relative; */
    padding: 6px 0px 20px 12px;
    line-height: 25px;
    background-color: rgb(209, 149, 39);
    box-shadow: 4px 2px 6px 0px #684a0b85;
   
}

.badge-dispo, .badge-warning {
    float:right;
}
.inscrits {
    margin-top: 25px;
}
/** -------------------------------------------------*/
/** CARD SEANCE */

  
 .seance-genre, .duree, .prix {
        margin-bottom: 12px; 
         height: 38px;
      font-weight: 900;
     line-height: 1.9em;
 }
 
.option-genre, .option-duree, .option-prix {
    float: right;
    margin-right: 55px;
}

.btn-rendez-vous  {
    background-color: #075f92c5;
    border-color: #0b8ab1c5 ;
    padding: 10px;
    color: #fff;
     transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-rendez-vous:hover {
     background-color: #0b8ab1c5;
     border-color: #075f92c5;
     color: #fff;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
