/* line 1, ../sass/menu.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 6, ../sass/menu.scss */
.site-content {
  padding-top: 3.4%;
  padding-bottom: 3.4%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  padding-right: 15%;
  max-width: none;
}

/* HEADER */
/* line 19, ../sass/menu.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: #8f725c;
  box-shadow: 2px 2px 11px 3px #8f725ce8;
  z-index: 1000;
}
/* line 31, ../sass/menu.scss */
.header a {
  color: #fff;
}
/* line 35, ../sass/menu.scss */
.header a:hover {
  text-decoration: none;
  color: #960b06;
}

/* line 41, ../sass/menu.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 49, ../sass/menu.scss */
.img_logo {
  float: left;
  top: 20px;
  position: relative;
}

/*   Menu      */
/* line 57, ../sass/menu.scss */
.menu-left {
  line-height: 35px;
}
/* line 60, ../sass/menu.scss */
.menu-left .nav-hub {
  display: none;
  color: inherit;
  background-color: #8f725c;
  z-index: 10000;
  box-shadow: 4px 3px 8px 0px rgba(62, 47, 35, 0.71);
  position: absolute;
}
/* line 69, ../sass/menu.scss */
.menu-left .nav-hub a {
  display: inherit;
  margin: 10px;
  padding: 0px 12px;
  line-height: 22px;
}
/* line 78, ../sass/menu.scss */
.menu-left .nav-boutique {
  display: none;
  color: inherit;
  background-color: #8f725c;
  z-index: 10000;
  box-shadow: 4px 3px 8px 0px rgba(62, 47, 35, 0.71);
  position: absolute;
  margin-left: -335px;
}
/* line 89, ../sass/menu.scss */
.menu-left .nav-produits {
  margin: 5px 18px;
  border: 0.8px solid #e2b3892e;
  margin-left: -10px;
}
/* line 95, ../sass/menu.scss */
.menu-left .nav-produits a {
  color: #fff;
  display: block;
  font-style: italic;
  text-align: justify;
}
/* line 108, ../sass/menu.scss */
.menu-left li {
  float: left;
  list-style-type: none;
}
/* line 113, ../sass/menu.scss */
.menu-left a {
  padding: 0 10px;
}
/* line 117, ../sass/menu.scss */
.menu-left a:hover {
  color: #960b06;
  text-decoration: none;
}

/* line 127, ../sass/menu.scss */
.menu-left li.tap div {
  display: block;
  animation: slideIn 0.3s;
}
/* line 131, ../sass/menu.scss */
.menu-left li.tap div a {
  opacity: 1;
  animation: slideIn 0.3s;
}

/* line 137, ../sass/menu.scss */
.menu-left li.tap ul {
  display: block;
  animation: slideIn 0.3s;
  height: auto;
}
/* line 143, ../sass/menu.scss */
.menu-left li.tap ul div,
.menu-left li.tap ul ul,
.menu-left li.tap ul a {
  opacity: 1;
  animation: slideIn 0.3s;
}

/* MENU RIGHT */
/* line 155, ../sass/menu.scss */
.menu-right {
  float: right;
  line-height: 40px;
  text-align: center;
  padding-right: 15px;
}
/* line 161, ../sass/menu.scss */
.menu-right li {
  list-style-type: none;
  float: left;
}
/* line 166, ../sass/menu.scss */
.menu-right .sub-menu-img {
  position: fixed;
}
/* line 170, ../sass/menu.scss */
.menu-right .sub-user-right {
  display: none;
  color: inherit;
  background-color: #8f725c;
  z-index: 10000;
  box-shadow: 4px 3px 8px 0px rgba(62, 47, 35, 0.71);
  position: absolute;
  margin-left: -25px;
}
/* line 183, ../sass/menu.scss */
.menu-right a {
  display: inherit;
  margin: 0px 15px 0px 15px;
}
/* line 189, ../sass/menu.scss */
.menu-right a:hover {
  color: #960b06;
  text-decoration: none;
}

/* line 196, ../sass/menu.scss */
.menu-right li.tap div {
  height: 125px;
  display: block;
  animation: slideIn 0.3s;
}
/* line 201, ../sass/menu.scss */
.menu-right li.tap div a {
  opacity: 1;
  animation: slideIn 0.3s;
}

@keyframes slideIn {
  from {
    height: 0%;
    border-bottom: none;
    opacity: 0;
  }
  45% {
    height: 20%;
    opacity: 0.2;
  }
  65% {
    height: 45%;
    opacity: 0.4;
  }
  85% {
    height: 75%;
    opacity: 0.7;
  }
  to {
    height: auto;
    opacity: 1;
  }
}
/* line 236, ../sass/menu.scss */
.dropdown:hover .nav-panier-content {
  display: block;
  transition: slideIn 0.3s;
}

/* line 242, ../sass/menu.scss */
.nav-panier-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #8f725c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom: 1px solid #888;
}

/* line 254, ../sass/menu.scss */
.nav-panier-content span {
  text-decoration: none;
  display: block;
  min-width: 200px;
  font-size: 12px;
}

/* line 260, ../sass/menu.scss */
.sub-panier {
  border-bottom: 1px solid #888;
}

/* line 264, ../sass/menu.scss */
.panier-float-left {
  float: left;
  padding: 15px 15px 0px;
  position: relative;
}

/* line 270, ../sass/menu.scss */
.panier-float-right {
  text-align: center;
  top: 0px;
  margin: 10px;
  line-height: 15px;
}

/* line 277, ../sass/menu.scss */
.footer-sub-panier {
  position: relative;
  bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
