@media only screen and (max-width: 1138px) {
  /* line 8, ../sass/responsive.scss */
  body {
    overflow-y: scroll;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
  }

  /* line 15, ../sass/responsive.scss */
  .site-pusher,
  .site-container {
    height: 100%;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
  }

  /* line 24, ../sass/responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 29, ../sass/responsive.scss */
  .site-content {
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    width: 100%;
    padding-bottom: 15%;
  }

  /* line 41, ../sass/responsive.scss */
  .header {
    position: static;
    z-index: 10000;
  }

  /* line 46, ../sass/responsive.scss */
  .header__icon {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    color: #888;
  }
  /* line 55, ../sass/responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  /* line 69, ../sass/responsive.scss */
  .menu {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 250px;
    background-color: #8f725c;
    height: 100%;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 99;
  }
  /* line 82, ../sass/responsive.scss */
  .menu .menu-left {
    display: inline;
    text-align: center;
  }
  /* line 87, ../sass/responsive.scss */
  .menu .menu-left .menu-left .nav-hub {
    text-align: center;
    line-height: 5px;
  }
  /* line 92, ../sass/responsive.scss */
  .menu .menu-left li {
    line-height: 40px;
    float: none;
    display: block;
    border-bottom: 1px solid #543521;
  }
  /* line 101, ../sass/responsive.scss */
  .menu .menu-left a {
    padding: 0;
  }
  /* line 108, ../sass/responsive.scss */
  .menu .menu-right {
    margin: 0;
    text-align: center;
    float: left;
    width: 260px;
  }
  /* line 115, ../sass/responsive.scss */
  .menu .menu-right .sub-user-right {
    background-color: #543521;
    width: 250px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
    left: 24px;
  }
  /* line 123, ../sass/responsive.scss */
  .menu .menu-right .nav-panier-content {
    left: 0;
    background-color: #543521;
  }
  /* line 128, ../sass/responsive.scss */
  .menu .menu-right li {
    width: 250px;
    margin-left: -40px;
    line-height: 40px;
    border-bottom: 1px solid #543521;
    position: relative;
  }
  /* line 137, ../sass/responsive.scss */
  .menu .menu-right a {
    width: 250px;
    border-bottom: 1px solid #8f725c;
    margin: 0;
  }
  /* line 143, ../sass/responsive.scss */
  .menu .menu-right a:last-child {
    border-bottom: none;
  }
  /* line 149, ../sass/responsive.scss */
  .menu .nav-boutique {
    margin-left: 0;
    color: inherit;
    background-color: #543521;
    width: 250px;
    z-index: 0;
    text-align: center;
    position: relative;
    padding: 2px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
  }
  /* line 160, ../sass/responsive.scss */
  .menu .nav-boutique li {
    border-bottom: 1px solid #8f725c;
  }
  /* line 164, ../sass/responsive.scss */
  .menu .nav-boutique li:last-child {
    border-bottom: none;
  }
  /* line 170, ../sass/responsive.scss */
  .menu .nav-produits {
    color: inherit;
    background-color: #543521;
    width: 256px;
    z-index: 0;
    position: relative;
    padding: 2px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
  }
  /* line 182, ../sass/responsive.scss */
  .menu .nav-hub {
    color: inherit;
    background-color: #543521;
    width: 250px;
    z-index: 0;
    text-align: center;
    position: relative;
    padding: 2px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
  }
  /* line 195, ../sass/responsive.scss */
  .menu .nav-hub a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid #888;
    width: 250px;
    margin: 0;
    padding: 8px 2px;
  }
  /* line 207, ../sass/responsive.scss */
  .menu .nav-hub a:last-child {
    border-bottom: none;
  }
  /* line 213, ../sass/responsive.scss */
  .menu .nav-boutique li.has-sub div,
  .menu .nav-hub li.has-sub div,
  .menu .nav-produits li.has-sub div {
    display: none;
    color: inherit;
    background-color: #8f725c;
    z-index: 1000;
  }
  /* line 224, ../sass/responsive.scss */
  .menu .nav-hub li.tap div,
  .menu .nav-hub li.tap ul {
    display: block;
  }
  /* line 229, ../sass/responsive.scss */
  .menu .nav-hub li.tap div a,
  .menu .nav-hub li.tap ul a {
    border-bottom: 1px solid #543521;
    text-align: center;
  }
  /* line 235, ../sass/responsive.scss */
  .menu .nav-boutique li.tap div,
  .menu .nav-produits li.tap div {
    display: block;
    height: auto;
  }
  /* line 243, ../sass/responsive.scss */
  .menu .nav-boutique li.tap div a,
  .menu .nav-produits li.tap div a {
    border-bottom: 1px solid #543521;
    text-align: center;
  }
  /* line 248, ../sass/responsive.scss */
  .menu .nav-boutique li.tap div a:last-child,
  .menu .nav-produits li.tap div a:last-child {
    border-bottom: none;
  }

  /* line 256, ../sass/responsive.scss */
  .table {
    margin-left: -65px;
    width: 200px;
    display: inline;
  }

  /* line 261, ../sass/responsive.scss */
  .table-thead td {
    padding: 10px 0px 10px 0px !important;
  }

  /* line 264, ../sass/responsive.scss */
  .table th {
    width: 10%;
  }

  /* line 268, ../sass/responsive.scss */
  .table-fluid {
    margin-left: -25px;
  }

  /* line 271, ../sass/responsive.scss */
  .livraison {
    min-width: 400px;
  }

  /* line 274, ../sass/responsive.scss */
  #footerMenu {
    position: fixed;
    background: #8f725c;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px -10px 50px -10px rgba(10, 133, 155, 0.8), 0px -10px 50px -10px rgba(80, 216, 216, 0.5);
    text-align: center;
    overflow: none;
    z-index: 300;
  }

  /* line 287, ../sass/responsive.scss */
  #footerMenu.show {
    height: auto !important;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: height  3s ease-in-out;
    -webkit-transition: height 3s ease-in-out;
  }

  /* line 298, ../sass/responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 302, ../sass/responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* line 315, ../sass/responsive.scss */
  .table-fluid {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 320, ../sass/responsive.scss */
  .table-font-size tr,
  .table-tbody td {
    font-size: 14px;
  }

  /* line 328, ../sass/responsive.scss */
  .modal {
    height: 100%;
  }
}
@media only screen and (max-width: 360px) {
  /* line 334, ../sass/responsive.scss */
  .modal-content-body {
    padding: 0%;
    margin-top: 20% !important;
    width: 250px !important;
    height: auto;
  }

  /* line 341, ../sass/responsive.scss */
  .modal {
    height: 100%;
  }

  /* line 344, ../sass/responsive.scss */
  .table-fluid {
    width: 300px !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  /* line 351, ../sass/responsive.scss */
  .table-font-size tr,
  .table-tbody td {
    font-size: 14px;
  }

  /* line 357, ../sass/responsive.scss */
  .table {
    display: inline;
  }

  /* line 360, ../sass/responsive.scss */
  .table-thead td {
    padding: 10px 0px 10px 0px !important;
    font-size: 100%;
  }

  /* line 364, ../sass/responsive.scss */
  .table-thead th {
    width: 8% !important;
    font-size: 12px;
  }

  /* line 369, ../sass/responsive.scss */
  .table-tbody td {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 900px) {
  /* line 375, ../sass/responsive.scss */
  .modal-content-body {
    padding: 0%;
    margin-top: 20% !important;
    width: 350px !important;
    height: auto;
  }

  /* line 382, ../sass/responsive.scss */
  .modal {
    height: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  /* line 389, ../sass/responsive.scss */
  select#select-taille {
    margin-bottom: 40px;
  }

  /* line 392, ../sass/responsive.scss */
  .btn-panier {
    position: relative;
    margin-left: -3px !important;
  }

  /* line 399, ../sass/responsive.scss */
  article:last-child {
    margin-bottom: 100%;
  }

  /* line 403, ../sass/responsive.scss */
  .img-body {
    float: none !important;
    position: relative;
    width: 100% !important;
  }
}
/* line 411, ../sass/responsive.scss */
.contact-me {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -15px;
}
