@media only screen and (max-width: 1100px) {
  /* line 2, ../sass/calendar.scss */
  #calendar-holder {
    font-family: "Muli", sans-serif;
    padding: 15px;
    min-width: 450px;
    background-color: white;
    margin: 10px -45px !important;
  }

  /* line 10, ../sass/calendar.scss */
  .fc-toolbar > * > :not(:first-child) {
    margin-left: 0 !important;
    margin-top: 0.8em;
  }

  /* line 14, ../sass/calendar.scss */
  .fc-head-container, .fc-axis {
    font-size: 14px;
  }

  /* line 17, ../sass/calendar.scss */
  .fc-button {
    font-size: 0.9em !important;
  }
}
@media only screen and (max-width: 1138px) {
  /* line 9, ../sass/responsive.scss */
  body {
    overflow-y: scroll;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
  }

  /* line 16, ../sass/responsive.scss */
  .site-pusher,
  .site-container {
    min-height: 100%;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
  }

  /* line 25, ../sass/responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  /* line 30, ../sass/responsive.scss */
  .site-content {
    min-height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    width: 100%;
    padding-bottom: 15%;
  }

  /* line 42, ../sass/responsive.scss */
  .header {
    position: static;
    z-index: 10000;
  }

  /* line 47, ../sass/responsive.scss */
  .header__icon {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
    color: #888;
  }
  /* line 56, ../sass/responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #383636, 0 16px 0 1px #383636, 0 22px 0 1px #383636;
    -webkit-box-shadow: 0 10px 0 1px #383636, 0 16px 0 1px #383636, 0 22px 0 1px #383636;
    box-shadow: 0 10px 0 1px #383636, 0 16px 0 1px #383636, 0 22px 0 1px #383636;
  }

  /* line 70, ../sass/responsive.scss */
  .menu {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 250px;
    background-color: #e2e1e0;
    height: 100%;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 99;
  }
  /* line 83, ../sass/responsive.scss */
  .menu .menu-left {
    display: inline;
    text-align: center;
  }
  /* line 88, ../sass/responsive.scss */
  .menu .menu-left .menu-left .nav-hub {
    text-align: center;
    line-height: 5px;
  }
  /* line 93, ../sass/responsive.scss */
  .menu .menu-left li {
    line-height: 40px;
    float: none;
    display: block;
    border-bottom: 1px solid #543521;
  }
  /* line 102, ../sass/responsive.scss */
  .menu .menu-left a {
    padding: 0;
  }
  /* line 109, ../sass/responsive.scss */
  .menu .menu-right {
    margin: 0;
    text-align: center;
    float: left;
    width: 260px;
  }
  /* line 116, ../sass/responsive.scss */
  .menu .menu-right .sub-user-right {
    background-color: #543521;
    width: 250px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
    left: 24px;
  }
  /* line 124, ../sass/responsive.scss */
  .menu .menu-right .nav-panier-content {
    left: 0;
    background-color: #543521;
  }
  /* line 129, ../sass/responsive.scss */
  .menu .menu-right li {
    width: 250px;
    margin-left: -40px;
    line-height: 40px;
    border-bottom: 1px solid #543521;
    position: relative;
  }
  /* line 138, ../sass/responsive.scss */
  .menu .menu-right a {
    width: 250px;
    border-bottom: 1px solid #8f725c;
    margin: 0;
  }
  /* line 144, ../sass/responsive.scss */
  .menu .menu-right a:last-child {
    border-bottom: none;
  }
  /* line 150, ../sass/responsive.scss */
  .menu .nav-boutique {
    margin-left: 0;
    color: inherit;
    background-color: #c5c4c2;
    width: 250px;
    z-index: 0;
    text-align: center;
    position: relative;
    padding: 2px;
    /*   box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);*/
  }
  /* line 161, ../sass/responsive.scss */
  .menu .nav-boutique li {
    border-bottom: 1px solid #8f725c;
  }
  /* line 165, ../sass/responsive.scss */
  .menu .nav-boutique li:last-child {
    border-bottom: none;
  }
  /* line 171, ../sass/responsive.scss */
  .menu .nav-produits {
    color: inherit;
    background-color: #e2e1e0;
    width: 256px;
    z-index: 0;
    position: relative;
    padding: 2px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
  }
  /* line 183, ../sass/responsive.scss */
  .menu .nav-hub {
    color: inherit;
    background-color: #c5c4c2;
    width: 250px;
    z-index: 0;
    text-align: center;
    position: relative;
    padding: 2px;
    box-shadow: 1px 3px 5px 0px rgba(62, 47, 35, 0.71);
  }
  /* line 196, ../sass/responsive.scss */
  .menu .nav-hub a {
    color: #8f725c;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid #888;
    width: 250px;
    margin: 0;
    padding: 8px 2px;
  }
  /* line 208, ../sass/responsive.scss */
  .menu .nav-hub a:last-child {
    border-bottom: none;
  }
  /* line 214, ../sass/responsive.scss */
  .menu .nav-boutique li.has-sub div,
  .menu .nav-hub li.has-sub div,
  .menu .nav-produits li.has-sub div {
    display: none;
    color: inherit;
    background-color: #e2e1e0;
    z-index: 1000;
  }
  /* line 225, ../sass/responsive.scss */
  .menu .nav-hub li.tap div,
  .menu .nav-hub li.tap ul {
    display: block;
  }
  /* line 230, ../sass/responsive.scss */
  .menu .nav-hub li.tap div a,
  .menu .nav-hub li.tap ul a {
    border-bottom: 1px solid #543521;
    text-align: center;
  }
  /* line 236, ../sass/responsive.scss */
  .menu .nav-boutique li.tap div,
  .menu .nav-produits li.tap div {
    display: block;
    height: auto;
  }
  /* line 244, ../sass/responsive.scss */
  .menu .nav-boutique li.tap div a,
  .menu .nav-produits li.tap div a {
    border-bottom: 1px solid #543521;
    text-align: center;
  }
  /* line 249, ../sass/responsive.scss */
  .menu .nav-boutique li.tap div a:last-child,
  .menu .nav-produits li.tap div a:last-child {
    border-bottom: none;
  }

  /* line 258, ../sass/responsive.scss */
  .table-formation {
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
    text-align: center;
    margin-left: -40px;
    margin-right: auto;
    position: relative;
  }

  /* line 268, ../sass/responsive.scss */
  .table-thead td {
    padding: 10px 0px 10px 0px !important;
  }

  /* line 271, ../sass/responsive.scss */
  .table th {
    width: 10%;
  }

  /* line 275, ../sass/responsive.scss */
  .table-fluid {
    margin-left: -25px;
  }

  /* line 278, ../sass/responsive.scss */
  .livraison {
    min-width: 400px;
  }

  /* line 281, ../sass/responsive.scss */
  #footerMenu {
    position: fixed;
    background: #8f725c;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px -10px 50px -10px rgba(10, 133, 155, 0.8), 0px -10px 50px -10px rgba(80, 216, 216, 0.5);
    text-align: center;
    overflow: none;
    z-index: 300;
  }

  /* line 294, ../sass/responsive.scss */
  #footerMenu.show {
    height: auto !important;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: height  3s ease-in-out;
    -webkit-transition: height 3s ease-in-out;
  }

  /* line 305, ../sass/responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 309, ../sass/responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* line 322, ../sass/responsive.scss */
  .table-fluid {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 326, ../sass/responsive.scss */
  .table .table-formation {
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
    text-align: center;
    margin-left: -40px;
    margin-right: 5px;
    display: block;
  }

  /* line 337, ../sass/responsive.scss */
  .table-font-size tr,
  .table-tbody td {
    font-size: 14px;
  }

  /* line 345, ../sass/responsive.scss */
  .modal {
    height: 100%;
  }
}
@media only screen and (max-width: 360px) {
  /* line 351, ../sass/responsive.scss */
  .modal-content-body {
    padding: 0%;
    margin-top: 20% !important;
    width: 250px !important;
    height: auto;
  }

  /* line 358, ../sass/responsive.scss */
  .modal {
    height: 100%;
  }

  /* line 361, ../sass/responsive.scss */
  .table-fluid {
    width: 300px !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  /* line 367, ../sass/responsive.scss */
  .table .table-formation {
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
    text-align: center;
    margin-left: -40px;
    margin-right: 5px;
    display: block;
  }

  /* line 377, ../sass/responsive.scss */
  .table-font-size tr,
  .table-tbody td {
    font-size: 14px;
  }

  /* line 383, ../sass/responsive.scss */
  .table {
    display: inline;
  }

  /* line 386, ../sass/responsive.scss */
  .table-thead td {
    padding: 10px 0px 10px 0px !important;
    font-size: 100%;
  }

  /* line 390, ../sass/responsive.scss */
  .table-thead th {
    width: 8% !important;
    font-size: 12px;
  }

  /* line 395, ../sass/responsive.scss */
  .table-tbody td {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 900px) {
  /* line 401, ../sass/responsive.scss */
  h1 {
    font-size: 5vh !important;
  }

  /* line 407, ../sass/responsive.scss */
  form[name="profile"] {
    width: 450px;
    margin: 0px 0px 10px -60px;
    vertical-align: baseline;
    position: relative;
  }

  /* line 413, ../sass/responsive.scss */
  .card-identity {
    margin-bottom: 30px;
  }

  /* line 416, ../sass/responsive.scss */
  .card-signin-address {
    width: 450px;
    margin-left: 15px;
  }

  /* line 420, ../sass/responsive.scss */
  .card-address {
    position: relative;
    width: 400px;
    margin-top: 10px;
  }

  /* line 426, ../sass/responsive.scss */
  .modal-content-body {
    padding: 0%;
    margin-top: 20% !important;
    width: 350px !important;
    height: auto;
  }

  /* line 432, ../sass/responsive.scss */
  .modal-dialog {
    margin-top: -15px;
  }

  /* line 435, ../sass/responsive.scss */
  .modal-dialog-comment {
    margin-top: 140px;
  }

  /* line 438, ../sass/responsive.scss */
  .modal-content {
    margin: 5% 0% 0% -15px !important;
    min-width: 400px !important;
  }

  /* line 443, ../sass/responsive.scss */
  .modal {
    height: 100%;
  }

  /* line 446, ../sass/responsive.scss */
  .modal-form {
    margin: 25% 0 0 -35px;
    width: 450px;
  }

  /* line 451, ../sass/responsive.scss */
  #modalForm {
    overflow-x: hidden !important;
    padding-right: 0 !important;
  }

  /* line 455, ../sass/responsive.scss */
  #modalForm .modal-header {
    padding: 0.2em;
  }

  /* line 458, ../sass/responsive.scss */
  #modalForm label {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  /* line 463, ../sass/responsive.scss */
  select#select-taille {
    margin-bottom: 40px;
  }

  /* line 466, ../sass/responsive.scss */
  .btn-panier {
    position: relative;
    margin-left: -3px !important;
  }

  /* line 473, ../sass/responsive.scss */
  article:last-child {
    margin-bottom: 100%;
  }

  /* line 477, ../sass/responsive.scss */
  .img-body {
    position: relative;
    /* height: auto; */
    width: 300px;
    vertical-align: middle;
    margin: 15px 10px 15px 5px !important;
  }

  /* line 486, ../sass/responsive.scss */
  span {
    width: 100%;
  }

  /* line 489, ../sass/responsive.scss */
  #calendar-holder {
    font-family: "Muli", sans-serif;
    padding: 15px;
    min-width: 400px;
    margin: 0;
    background-color: white;
  }

  /* line 496, ../sass/responsive.scss */
  .fc-toolbar > * > :not(:first-child) {
    float: left;
    font-size: 13px;
  }

  /* line 500, ../sass/responsive.scss */
  .fc-button-group {
    font-size: 13px !important;
    margin-left: 0 !important;
  }

  /* line 505, ../sass/responsive.scss */
  .fc-toolbar h2 {
    font-size: 1.25rem !important;
  }
}
/* line 511, ../sass/responsive.scss */
.contact-me {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -15px;
}

/* line 519, ../sass/responsive.scss */
.paragraph {
  padding-bottom: 10%;
}
