/* SEARCH FORM */
/* line 2, ../sass/search.scss */
.dropdown-menu-search {
  left: 0;
  display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: #e2e1e0;
    z-index: 10000;
    box-shadow: 4px 3px 8px 0px rgba(102, 100, 99, 0.71);
    text-align: left;
    list-style: none;
    border-radius: .25rem;
    height: 80px !important;
    margin-top: 35px;
}

/* line 18, ../sass/search.scss */
.form-search {
  padding: 10px;
  width: 100%;
}

/* line 22, ../sass/search.scss */
input[type="search"] {
  border: none;
  outline-style: auto;
  outline-offset: 0.5pt;
  outline-color: #8f725c;
  margin-bottom: 10px;
}

/* line 31, ../sass/search.scss */
.searchbox-icon,
.searchbox-submit {
  top: 0;
  font-size: 16px;
  right: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  /* line-height: 50px; */
  text-align: center;
  cursor: pointer;
  color: #8f725c;
  background: none;
  /* padding: 9px; */
}

/* line 50, ../sass/search.scss */
.searchbox-icon {
  margin-top: 13px;
  float: right;
}

/* line 55, ../sass/search.scss */
.btn-search[type="submit"] {
  color: #ffffff;
}

/* line 59, ../sass/search.scss */
button[type="submit"].btn-search {
  border: none;
  background: none;
  font-size: 22px;
}

/* line 65, ../sass/search.scss */
.fa-search:before {
  color: #888;
  top: 0;
}

/* line 70, ../sass/search.scss */
.searchbox-open {
  width: 250px;
}

@media only screen and (max-width: 1138px) {
  /* line 77, ../sass/search.scss */
  .searchbox-input {
    margin-top: 15px;
    width: 250px;
  }

  /* line 82, ../sass/search.scss */
  .searchbox .searchbox-open {
    display: block !important;
  }

  /* line 85, ../sass/search.scss */
  .searchbox-icon {
    margin-top: 15px;
  }

  /* line 88, ../sass/search.scss */
  .searchbox {
    display: block;
  }
}
