{% extends 'admin_base.html.twig' %}

{% block title %}Edit PopupTaille{% endblock %}

{% block body %}
<div class="container">
    <h1>Edition de {{popup_taille.title}}</h1>

    {{ include('admin/popup_taille/_form.html.twig')}}


   
    </div>
{% endblock %}
