{% extends "base.html.twig" %}
{% block title %} {{article.title}}{% endblock %}
{% block body %}

 <div class="row">
 {% if article.filename is defined %}
     <img class="jumbotron img-fluid"  src="{{ vich_uploader_asset(article, 'imageFile')}}" >
 {% endif %}    
 {% if article %}  
     
      <div class="col-sm-12 col-md-12 col-lg-12">
           <h1 class="mt-3">{{article.title }}</h1>
      </div>
     
          <div class="col-sm-12 col-md-12 col-lg-12"> 
          {{ article.description|raw }}
   
   </div>
   {% endif %}
   </div>
{% endblock %}




    