<form method="post" action="{{ path('admin_description_produit_delete', {'id': description_produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ description_produit.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
