{% extends 'admin_base.html.twig' %}
{% }
		{% block title %}
			Nouveau Bijou
		{% endblock %}

		{% block body %}
			<div class="container">		
			
				<h1>
					Editer Bijou
				</h1>	
				
						{% include 'admin/bijou/_form.html.twig' %}
			
		
				
			

			</div>

		{% endblock %}


		{% block javascripts %}
			{{ parent() }}
			{{ encore_entry_script_tags('optSelect' )}}
			{{ encore_entry_script_tags('select' )}}
			{{ encore_entry_script_tags('promo' )}}
		       <script>
        $('#datetimepicker').datepicker({
            format: 'dd.MM.yyyy',
            });
    </script>
		{% endblock %}
