	
	
	{% for label, messages in app.flashes %}

			{% for message in messages %}
			<div class="modal-message" id="modal-message" role="dialog">

						<div class="modal-message-content">

						    	<div class="modal-body">
							       	 <strong>{{ message}}</strong>
								        <span  id="close-message" class="close-message">
									       <i class="fas fa-times-circle"></i>
							         	</span>
							     </div>
						</div>
				
		   </div>
			{% endfor %}


{% endfor %}
