{% extends "admin_base.html.twig" %}

{% block title %} Commandes {% endblock %}
 
{% block body %}
 
 <div class="container-fluid">
   <div class="row">
      {% if commandes|length ==  0 %}
     
           <div class="alert alert-info">Aucune commandes </div>
     
       {% else %}
 
 
         {% for commande in commandes %} 
      
              {{include('admin/commande/block/block-commande.html.twig')}}
        {% endfor %}   
    
     
  {% endif %}
 
    </div>
 </div>


{% endblock %}
