{% extends 'admin_base.html.twig' %}
{% block title %}Edit article{% endblock %}
{% block body %}
  <div class="container">
  <div class="row p-3">
    <h1>Edit Article</h1>
   
    {{ include('admin/article/_form.html.twig') }}
    
    </div>
  </div>
  {% endblock %}
{% block javacripts %}
 {{ parent()}}
{{ encore_entry_script_tags('select' )}}


{% endblock %}
