{% extends 'admin_base.html.twig' %}
		{% block title %}
			Editer Séance
		{% endblock %}

		{% block body %}
			<div class="container">
				<h1>	Editer Séance	</h1>
			
						{% include 'admin/seance/_form.html.twig' %}
					

			</div>

		{% endblock %}


		{% block javascripts %}
			{{ parent() }}
		{{ encore_entry_script_tags('seance' )}}
			{{ encore_entry_script_tags('select' )}}
		{% endblock %}
